apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: waveforge-pvc
  namespace: waveforge-pro
  labels:
    app: waveforge-pro
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
